<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55789245541-3l8kmb35govqo7nue5uqfdufkirvo2im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55789245541-3l8kmb35govqo7nue5uqfdufkirvo2im</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55789245541-6knfjght8nb3lla3dp6dvmfgdefsgbpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVYLhFEcfKgws9UVLV81m-IXr20hvjT1o</string>
	<key>GCM_SENDER_ID</key>
	<string>55789245541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planetbomba.repstephens</string>
	<key>PROJECT_ID</key>
	<string>repstephensil</string>
	<key>STORAGE_BUCKET</key>
	<string>repstephensil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55789245541:ios:792754b7f684978d0a228c</string>
</dict>
</plist>